.screener { width:100vw; max-width:100%; height:100vh; }

@keyframes FadeIn {
	from { opacity:0 };
	to { opacity:1 };
}
.fadein__slow { animation:FadeIn 4s ease-in 1; }
@keyframes FadeInLate {
	0%, 80% { opacity:0 };
	100% { opacity:1 };
}
.fadein__late { animation:FadeInLate 6s ease-in 1; }

@keyframes CoverOutStart {
	0%, 65% { background-color:white; }
	100% { background-color:transparent; }
}
.cov__out_start { animation:CoverOutStart 5s linear 1; }
.cov__out_late { animation:CoverOutStart 6s linear 1; }

.screen__vignet {
	box-shadow:inset 0 0 5vw 2vw rgba(0,0,0,.3);
	position:fixed;
	z-index:999;
	pointer-events:none;
}

.full_cover {
	width:100%;
	height:100%;
	position:absolute;
	z-index:15;
	pointer-events:none;
}

@keyframes vertSliding {
	from { left:0; }
	to { left:-3840px; }
}
.slideshow { overflow:hidden; position:relative; }
.slide__vert .slide__gradient {
	width:10px;
	height:100%;
	position:absolute;
	top:0;
	bottom:0;
	z-index:20;
}
.grad__left {
	background:linear-gradient(90deg, white, transparent);
	left:0;
}
.grad__right {
	background:linear-gradient(-90deg, white, transparent);
	right:0;
}
.slide__vert .slide__img_container {
	position:absolute;
	left:0;
	top:0;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	animation:vertSliding 100s linear infinite;
}

.slide__vert .slide__img:nth-child(odd) {
	background-color:#e3e3e3;
}
.slide__vert .slide__img:nth-child(even) {
	background-color:#d3d3d3;
}

/* -------------------- GESTION DU CADRE --------------------- */
.gallery .img__socket:before {
	content:"";
	width:30%;
	height:100%;
	background-color:white;
	border-right:1px solid #999;
	box-shadow:5px 0 10px -4px rgba(0,0,0,.5);
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	z-index:20;
}

.gallery .img__socket {
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	overflow:hidden;
}

/* --------------------- AFFICHAGE MODAL --------------------- */
.mod__check {
	position:absolute;
	visibility:hidden;
}

.mod__disp {
	width:100vw;
	max-width:100%;
	height:100vh;
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:100;
	display:none;
	flex-flow:row nowrap;
}

.mod__disp > label {
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.3);
	cursor:pointer;
	display:flex;
	flex-flow:row nowrap;
}

/* ------------------- GESTION DES CHECKED ------------------- */
#halles_castel[type=checkbox]:checked ~ #mod_img_A {
	display:flex;
}
#poid_hommes[type=checkbox]:checked ~ #mod_img_B {
	display:flex;
}
#voyeur[type=checkbox]:checked ~ #mod_img_C {
	display:flex;
}
#plante_verte[type=checkbox]:checked ~ #mod_img_D {
	display:flex;
}
#rien_a_voir[type=checkbox]:checked ~ #mod_img_E {
	display:flex;
}

.mod__imgbox {
	background-color:rgba(0,0,0,.9);
	height:100%;
	width:75%;
	display:flex;
	flex-wrap:nowrap;
	align-items:center;
	overflow:hidden;
}

.mod__disp .mod__img {
	max-width:100%;
	height:auto;
}

.mod__disp .mod__desc {
	width:25%;
	padding:0 2% 1% 1%;
	box-shadow:-5px 0 5px rgba(0,0,0,.6);
}

/* ------------------- GESTION DES CHECKED ------------------- */
.credit:nth-child(1) > *:nth-child(1):after {
	content:"-";
	margin:0 .75em;
}

/*@keyframes vertSliding_mobil {
	0%, 5% { left:0; }
	5.555%, 10.666% { left:-384px; }
	11.111%, 16.111% { left:-768px; }
	16.666%, 21.777% { left:-1152px; }
	22.222%, 27.222% { left:-1536px; }
	27.777%, 32.888% { left:-1920px; }
	33.333%, 38.333% { left:-2304px; }
	38.888%, 43.999% { left:-2688px; }
	44.444%, 49.444% { left:-3072px; }
	49.999%, 55% { left:-3456px; }
	55.555%, 60.666% { left:-3072px; }
	61.111%, 66.111% { left:-2688px; }
	66.666%, 71.777% { left:-2304px; }
	72.222%, 77.222% { left:-1920px; }
	77.777%, 82.888% { left:-1536px; }
	83.333%, 88.333% { left:-1152px; }
	88.888%, 93.999% { left:-768px; }
	94.444%, 100% { left:-384px; }
}*/